# Environments
.venv/
env/
.env
.env.*

# Python
__pycache__/
*.pyc

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
docs/explanation_of_project.mp4

# Cache
data/cache/*
!data/cache/.gitkeep
.debug/*

# Tool caches / reports
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml

# Notebooks
*.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
coverage.xml
